:root {
    --general-text: #FFFFFF;
    --accent-text: #4ABCEC;
    --circle-bg: #00E0FF;
    --general-bg: linear-gradient(#022335FF, #043A41FF);
    --general-bg-2: linear-gradient(#022335CC, #0C373DCC);
    --accent-bg: linear-gradient(#00E0FF1C, #00E0FF0E);
    --button-color: linear-gradient(#03E1FFA8, #13CDC2FF);
    --accent-color: linear-gradient(#1F3F4D8A, #1F4B5E00);
    --input-color: #FFFFFF;
    --transition: all .6s;
    --border-radius: 20px;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
}

.body {
    font-family: "AvenirNextCyr", "Arial", sans-serif;
    line-height: 21px;
    font-weight: 450;
    color: var(--general-text);
}

.body--opened-menu {
    overflow: hidden;
}

.body--opened-modal {
    overflow: hidden;
}

.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.main {
    flex-grow: 1;
}

.container {
    max-width: 1215px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}

.title {
    font-family: 'Avenir Next Cyr', sans-serif;
    text-transform: uppercase;
    font-size: 54px;
    line-height: 63px;
    color: var(--general-text);
}

.button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--button-color);
    border-radius: 9px;
    font-weight: 750;
    font-size: 12px;
    line-height: 15px;
    padding: 22px 13px 25px 13px;
    height: 60px;
    text-transform: uppercase;
    letter-spacing: 3px;
    max-width: 479px;
    box-shadow: 0px 7px 20px -7px #00E0FF;

    transition: var(--transition);
}

.button:hover {
    transform: scale(1.05);
}

.modal {
    position: fixed;
    inset: 0;
    z-index: -1;
    background: #00000071;
    padding: 15px;

    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    visibility: hidden;
    transition: var(--transition);
}

.body--opened-modal .modal {
    opacity: 1;
    visibility: visible;
    z-index: 2;
}

.modal__window {
    position: relative;
    background: linear-gradient(348deg, #033958FF, #0F6B78FF);
    border-radius: var(--border-radius);
    padding: 33px 26px 44px 29px;
    max-width: 450px;
}

.modal__cancel {
    position: absolute;
    top: -40px;
    right: 0;
}

.modal__title {
    font-size: 35px;
    line-height: 40px;
    margin-bottom: 30px;
    width: 450px;
    text-transform: uppercase;
}

.modal__title span {
    color: var(--accent-text);
}

.modal__text {
    margin-bottom: 10px;
    color: var(--circle-bg);
}

.modal__form-label {
    margin-bottom: 10px;

    border: 2px solid transparent;
    border-radius: 9px;
    position: relative;

    cursor: text;
}

.modal__form-label::after {
    content: '';
    position: absolute;
    width: 101.6%;
    height: 108%;
    top: -2px;
    left: -3px;
    border: inherit;
    border-radius: 9px;
    background: linear-gradient(90deg, #1f4d60, #49b9e8, #1f4d60) border-box;
    mask: linear-gradient(white, white) padding-box, linear-gradient(white, white);
    mask-composite: exclude;
    opacity: 0.6;
}


    .modal__form-label:nth-child(8) {
        margin-bottom: 50px;
    }

input[type="datetime-local"]::-webkit-inner-spin-button,
input[type="datetime-local"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

.field {
    display: block;
}

.field__input {
    display: block;
    width: 100%;
    background: var(--accent-bg);
    color: var(--general-text);
    padding: 21px 42px 16px 21px;
    font-size: 16px;
    transition: var(--transition);
}

.field__input::placeholder {
    color: var(--general-text);
    transition: var(--transition);
}

.modal__button {
    color: var(--general-text);
}




/* =============================================== */
/* =============================================== */
/* =============================================== */