@import "fonts.css";
@import "reset.css";
@import "global.css";

@import "header.css";
@import "footer.css";

.main__reasons {
  background: #000000;
  padding: 124px 0 121px;
  position: relative;
}

.main__reasons::before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 1;
  height: 2px;
  background-image: linear-gradient(#4ACFEC, #32ABC3, #4AC5EC);
  box-shadow:
    0px 0px 24px #00E0FF,
    0px 4px 15px #4AD9EC,
    0px 3px 15px #00E0FF;
  filter: blur(2px);
}

.main__reasons::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  background: linear-gradient(#022335CC, #0C373DCC);
}

.reasons__title {
  position: relative;
  z-index: 2;
  line-height: 63px;
  margin-bottom: 58px;
}

.reasons__title span {
  color: var(--accent-text);
}

.reasons__list {
  position: relative;
  z-index: 2;
  display: grid;
  grid-template-columns: repeat(13, auto);
  grid-template-rows: 212px 217px;
  gap: 20px;
}

.reasons__item:nth-child(1) {
  grid-column: 1 / 4;
}

.reasons__item:nth-child(2) {
  grid-column: 4 / 7;
}

.reasons__item:nth-child(3) {
  grid-column: 7 / 10;
}

.reasons__item:nth-child(4) {
  grid-column: 10 / 14;
}

.reasons__item:nth-child(5) {
  grid-column: 1 / 5;
}

.reasons__item:nth-child(6) {
  grid-column: 5 / 9;
}

.reasons__item:nth-child(7) {
  grid-column: 9 / 14;
}

.reasons__item {
  background: linear-gradient(#00E0FF1C, #00E0FF0E);
  border-radius: var(--border-radius);

  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  position: relative;
  border: 2px solid transparent;
}

.reasons__item::before {
  content: '';
  position: absolute;
  bottom: -5px;
  z-index: 1;
  left: 42px;
  width: 41px;
  border-radius: 50%;
  height: 7px;
  background: #03e1ff;
  filter: blur(5px);
}

.reasons__item::after {
  content: '';
  position: absolute;
  width: 101%;
  height: 102%;
  top: -2px;
  left: -1px;
  border: inherit;
  border-radius: inherit;
  background: linear-gradient(62deg, #1f4d60, #49b9e8, #1f4d60) border-box;
  mask: linear-gradient(white, white) padding-box, linear-gradient(white, white);
  mask-composite: exclude;
  opacity: 0.5;
}

.reasons__icon {
  margin-bottom: 19px;
}

.reasons__text {
  font-size: 15px;
  line-height: 18px;
}

/* ----------------------------------------------------- */

.main__ai {
  padding: 118px 0 109px;
  background: #000000;
  position: relative;
}

.main__ai::before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 1;
  height: 2px;
  background-image: linear-gradient(#4ACFEC, #32ABC3, #4AC5EC);
  box-shadow:
    0px 0px 24px #00E0FF,
    0px 4px 15px #4AD9EC,
    0px 3px 15px #00E0FF;
  filter: blur(2px);
}

.main__ai::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background: linear-gradient(236deg, #022335FF, #043A41FF);
}

.ai__image {
  background: url("../img/decor/AI.png") 100% 100% / cover no-repeat;
  position: absolute;
  bottom: 71px;
  right: 128px;
  z-index: 0;
  width: 937px;
  height: 625px;
  box-shadow: inset 0 0 110px 47px #000000;
}

.ai__circle {
  position: absolute;
  right: -33px;
  bottom: 176px;
  width: 270px;
  height: 250px;
  background: var(--circle-bg);
  border-radius: 50%;
  z-index: 2;
  filter: blur(247px);
}

.ai__circle-2 {
  position: absolute;
  right: 307px;
  top: 290px;
  width: 200px;
  height: 200px;
  background: #FFA800;
  border-radius: 50%;
  z-index: 2;
  filter: blur(250px);
}

.ai__wrapper {
  position: relative;
  z-index: 1;
}

.ai__title {
  line-height: 69px;
  margin-bottom: 64px;
}

.ai__title span {
  color: var(--accent-text);
}

.ai__list {
  max-width: 701px;
  margin-bottom: 69px;
}

.ai__item {
  display: flex;
  margin-bottom: 5px;
  position: relative;

  font-size: 15px;
  line-height: 18px;

  background: linear-gradient(54deg, #1F3F4D8A, #1F4B5E00);
  padding: 17px 6px 21px 25.3px;
}

.ai__item::after {
  content: '';
  position: absolute;
  top: 25px;
  z-index: -1;
  left: 69px;
  width: 41px;
  border-radius: 50%;
  height: 7px;
  background: #03e1ff;
  filter: blur(5px);
}

.ai__item img {
  margin-right: 20px;
  align-self: start;
}

/* ------------------------------------------------------ */

.main__important {
  padding: 104px 0 132px;
  background: #000000;
  position: relative;
}

.main__important::before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 1;
  height: 2px;
  background-image: linear-gradient(#4ACFEC, #32ABC3, #4AC5EC);
  box-shadow:
    0px 0px 24px #00E0FF,
    0px 4px 15px #4AD9EC,
    0px 3px 15px #00E0FF;
  filter: blur(2px);
}

.main__important::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  background: linear-gradient(90deg, #022335CC, #0C373DCC);
}

.important__wrapper {
  position: relative;
  z-index: 1;
}

.important__title {
  line-height: 40px;
  margin-bottom: 70px;
}

.important__title span {
  color: var(--accent-text);
}

.important__list {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 49px 42px;
}

.important__list-item {
  display: flex;
  align-items: center;
  gap: 20px;
}

.important__item-image {
  position: relative;
}

.important__item-image::before {
  content: '';
  position: absolute;
  bottom: -2px;
  z-index: 2;
  left: 42px;
  width: 41px;
  border-radius: 50%;
  height: 7px;
  background: #03e1ff;
  filter: blur(5px);
}

.important__list-item:nth-child(1) {
  margin-right: 22px;
}

.important__list-item:nth-child(2) {
  margin-right: 35px;
}

.important__list-item:nth-child(3) {
  margin-left: 50px;
}

.important__list-item:nth-child(4) {
  margin-left: 51px;
}

.important__item-text {
  line-height: 23px;
}

/* ------------------------------------------------------------ */

.main__features {
  background: #000000;
  position: relative;
  padding: 104px 0 110px;
}

.main__features::before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 1;
  height: 2px;
  background-image: linear-gradient(#4ACFEC, #32ABC3, #4AC5EC);
  box-shadow:
    0px 0px 24px #00E0FF,
    0px 4px 15px #4AD9EC,
    0px 3px 15px #00E0FF;
  filter: blur(2px);
}

.main__features::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(280deg, #022335FF, #043A41FF);
  opacity: 0.6;
}

.features__image {
  position: absolute;
  bottom: 47px;
  right: -143px;
  background: url('../img/decor/brain.png') 100% 34% / cover no-repeat;
  width: 1201px;
  height: 709px;
  box-shadow: inset 100px 0 143px 76px #000000;
}

.features__circle {
  position: absolute;
  right: -71px;
  top: -58px;
  width: 270px;
  height: 250px;
  background: var(--circle-bg);
  border-radius: 50%;
  z-index: 2;
  filter: blur(247px);
}

.features__circle-2 {
  position: absolute;
  right: 322px;
  top: 229px;
  width: 270px;
  height: 250px;
  background: var(--circle-bg);
  border-radius: 50%;
  z-index: 2;
  filter: blur(247px);
}

.features__wrapper {
  position: relative;
  z-index: 2;
}

.features__title {
  max-width: 812px;
  margin-bottom: 38px;
}

.features__title span {
  color: var(--accent-text);
}

.features__list {
  max-width: 690px;
  margin-bottom: 53px;
}

.features__list-item {
  display: flex;
  margin-bottom: 22px;
}

.features__list-item img {
  align-self: flex-start;
  margin-right: 21px;
}

.features__list-item:nth-child(3) {
  margin-bottom: 45px;
}

.features__list-item:last-child {
  margin-bottom: 0;
}

.features__item-text {
  align-self: flex-end;
  line-height: 23px;
  position: relative;
}

.features__item-text:nth-child(1) {
  max-width: 200px;
}

.features__item-text::before {
  content: '';
  position: absolute;
  top: 8px;
  z-index: -1;
  left: -12px;
  width: 41px;
  border-radius: 50%;
  height: 7px;
  background: #03e1ff;
  filter: blur(5px);
}

/* ------------------------------------------------------- */

.main__program {
  padding: 103px 0 109px;
  background: #000000;
  position: relative;
}

.main__program::before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 1;
  height: 2px;
  background-image: linear-gradient(#4ACFEC, #32ABC3, #4AC5EC);
  box-shadow:
    0px 0px 24px #00E0FF,
    0px 4px 15px #4AD9EC,
    0px 3px 15px #00E0FF;
  filter: blur(2px);
}

.main__program::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  background: linear-gradient(90deg, #022335CC, #0C373DCC);
}

.program__wrapper {
  position: relative;
  z-index: 1;
}

.program__title {
  margin-bottom: 20px;
}

.program__title span {
  color: var(--accent-text);
}

.program__subtitle {
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 27px;
}

.accordion-list {
  display: flex;
  flex-direction: column;
}

.accordion-list__item--opened .accordion-list__content {
  padding-top: 4px;
  transition: var(--transition);
}

.accordion-list__item:last-child {
  margin-bottom: 59px;
}

.accordion-list__control {
  background: linear-gradient(308deg, #073447FF,35%, #08262BFF);
  border-radius: 6px;
  padding: 12px 15px 12px 17px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 18px;
  transition: var(--transition);
}


.accordion-list__control-title {
  position: relative;
  margin-left: 26px;

  font-weight: 750;
  font-size: 20px;
}

.accordion-list__control-title span {
  color: #08B1B9;
  font-size: 15px;
  font-weight: 450;
}

.accordion-list__control-title::before {
  position: absolute;
  left: -25px;
  top: 6px;

  content: '';
  width: 10px;
  height: 10px;

  border-radius: 50%;
  background: linear-gradient(#00E0FFFF, #4A8BECFF);
  box-shadow: 0 4px 8px #00E0FF;
}

.accordion-list__control-icon {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(#00E0FF4D, #00E0FF25);
  border: 2px solid transparent;
  border-radius: 6px;
  position: relative;
  transition: var(--transition);
  transform: rotate(180deg);
}

.accordion-list__control-icon::before {
  position: absolute;
  content: '';
  width: 34px;
  height: 32px;
  left: -3px;
  border: inherit;
  border-radius: 6px;
  background: linear-gradient(50deg, #1f4d60, #49b9e8, #1f4d60) border-box;
  mask: linear-gradient(white, white) padding-box, linear-gradient(white, white);
  mask-composite: exclude;
  opacity: 0.5;
}

.accordion-list__item--opened .accordion-list__control-icon {
  background: linear-gradient(#00E0FF1C, #00E0FF0E);
  transform: rotate(0deg);
}

.accordion-list__item--opened .accordion-list__control {
  margin-bottom: 34px;
}

.accordion-list__control:hover .accordion-list__control-icon {
  background: linear-gradient(#00E0FF1C, #00E0FF0E);
}

.accordion-list__content {
  max-height: 0;
  overflow: hidden;
  transition: var(--transition);
}

.accordion-content {}

.accordion-content__list {}

.accordion-content__item {
  display: flex;
  gap: 16px;
  margin-bottom: 40px;
}

.accordion-content__item span {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -4px;

  font-weight: 750;
  font-size: 14px;
  color: #08262B;

  width: 27px;
  height: 27px;
  border-radius: 50%;
  background: var(--accent-text);
  flex-shrink: 0;
}

.accordion-content__item-info {}

.accordion-content__item-title {
  font-weight: 750;
  color: var(--accent-text);
  margin-bottom: 14px;
}

.accordion-content__item-text {}

.program__button {}






/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */

@media (max-width:1920px) {
  .whatsup__item {
    display: none;
  }
}

@media (max-width: 1650px) {
  .consultation__item {
    position: absolute;
    top: unset;
    left: unset;
    bottom: 10%;
    right: 80px;
  }

  .consultation__text {
    display: none;
  }

  .whatsup__item {
    display: block;
    position: absolute;
    top: unset;
    left: unset;
    bottom: 25%;
    right: 80px;
  }

  .blur__circle-3 {
    display: none;
  }
}

@media (max-width: 1200px) {

  .blur__circle-3 {
    display: none;
  }

  .header__image-1 {
    left: -1%;
  }

  .header__image-2 {
    right: 0%;
  }

  /* --------------------------------------------- */

  .reasons__title {
    text-align: center;
  }

  .reasons__list {
    grid-template-columns: repeat(9, auto);
    grid-template-rows: 212px 217px 217px;
  }

  .reasons__item:nth-child(4) {
    grid-column: 1 / 4;
  }

  .reasons__item:nth-child(5) {
    grid-column: 4 / 7;
  }

  .reasons__item:nth-child(6) {
    grid-column: 7 / 10;
  }

  .reasons__item:nth-child(7) {
    grid-column: 4 / 7;
  }

  /* ---------------------------------------------- */

  .ai__image {
    right: 0;
  }

  /* -------------------------------------------------- */

  .important__title {
    text-align: center;
  }

  .important__list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .important__list-item {
    max-width: 600px;
  }

  .important__list-item:nth-child(1),
  .important__list-item:nth-child(2),
  .important__list-item:nth-child(3),
  .important__list-item:nth-child(4) {
    margin: 0;
  }

  /* ---------------------------------------- */

  .features__image {
    right: -368px;
  }
}

@media (max-width: 900px) {

  .blur__circle-4 {
    left: 2%;
  }

  .header__image-1 {
    left: -19%;
  }

  .header__image-2 {
    width: 98%;
  }

  .header__image-3 {
    display: none;
  }

  .consultation__item {
    right: 2%;
    bottom: 20%;
  }

  .whatsup__item {
    right: 2%;
    bottom: 6%;
  }


  .header__logo {
    max-width: 225px;
  }


  .hero__info {
    text-align: center;
    align-items: center;
    justify-self: center;
  }

  .warranty__icon {
    align-self: end;
  }

  .scroll__item {
    display: none;
  }

  /* ------------------------------------------ */

  .reasons__title {
    text-align: center;
  }

  .reasons__list {
    display: flex;
    flex-direction: column;
  }

  .reasons__item::after {
    left: -4.1px;
  }

  /* -------------------------------------------- */

  .features__title {
    max-width: 626px;
  }
}

@media (max-width:800px) {

  .ai__circle {
    display: none;
  }

  .ai__circle-2 {
    display: none;
  }

  .ai__list {
    margin-bottom: 330px;
  }

  .ai__button {
    justify-self: center;
  }

  /* ------------------------------------------ */

  .features__circle {
    display: none;
  }

  .features__circle-2 {
    display: none;
  }

  .features__list {
    max-width: 690px;
    margin-bottom: 330px;
  }

  .features__button {
    justify-self: center;
  }

  /* --------------------------------------- */
  .footer__logo {
    max-width: 210px;
  }
}

@media (max-width: 700px) {

  .blur__circle-2 {
    display: none;
  }

  .header__top {
    padding-top: 0;
  }

  .header__phone {
    background-image: linear-gradient(#0B4D69FF, #104C54FF);
    padding: 21.5px 27px 22.5px 22px;
    border-bottom-left-radius: 22px;
    margin-right: -14px;
    visibility: hidden;
    max-width: 0;
    transition: var(--transition);
  }

  .header__phone--opened {
    opacity: 1;
    visibility: visible;
    max-width: 100%;
  }

  .phone__border {
    padding: 12px 0 16.6px;
    border-top: 1px #3b768f62 solid;
    gap: 0;
    position: relative;
  }

  .phone__border::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    border-bottom: 1px #3b768f62 solid;
    width: 217px;
  }

  .phone__icon {
    margin-right: 15px;
    visibility: visible;
    position: absolute;
    right: -7px;
  }

  .phone__icon--pos {
    position: unset;
  }

  .phone__icon img {
    width: 32.5px;
  }

  .phone__number {
    margin-right: 37px;
  }

  .phone__number--none {
    display: none;
  }

  .phone__cancel--none {
    opacity: 0;
  }

  .phone__cancel {
    display: block;
    padding: 5px;
  }


  .consultation__item {
    right: 31px;
    bottom: 41%;
  }

  .consultation__button {
    width: 63px;
    height: 63px;
  }

  .consultation__button::after {
    inset: -13px;
    border: 13px solid #ffffff;
  }

  .consultation__button img {
    width: 25px;
  }

  .whatsup__item {
    right: 31px;
    bottom: 31%;
  }

  .whatsup__button {
    width: 63px;
    height: 63px;
  }

  .whatsup__button::after {
    inset: -13px;
    border: 13px solid #ffffff;
  }

  .whatsup__button img {
    width: 25px;
  }

  .hero__title {
    font-size: 15vw;
  }

  .hero__warranty {
    gap: 10px;
  }

  /* --------------------------------------- */

  .reasons__title {
    font-size: 8vw;
  }

  .reasons__item::after {
    height: 103%;
  }

  .main__reasons {
    padding: 55px 0 75px;
  }

  /* -------------------------------------------------- */

  .main__ai {
    padding: 48px 0 73px;
  }

  .ai__title {
    text-align: center;
  }

  /* ------------------------------------------------ */

  .main__important {
    padding: 52px 0 47px;
  }

  .important__title {
    max-width: 430px;
    text-align: left;
    margin-left: 25px;
    line-height: 60px;
  }

  .important__list {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-items: center;
    align-items: baseline;
  }

  .important__list-item {
    flex-direction: column;
    max-width: 200px;
  }

  .important__list-item:nth-child(3), .important__list-item:nth-child(4) {
    flex-direction: column-reverse;
  }

  .important__item-image img {
    width: 100%;
  }

  /* ---------------------------------------------------- */

  .main__features {
    padding: 61px 0 75px;
  }

  /* ------------------------------------------------- */
  .footer__body {
    flex-direction: column;
  }

  .footer__logo {
    margin-bottom: 34px;
  }

  .footer__afreeca {
    margin: 17.5px auto 18px;
  }
}

@media (max-width:600px) {

  .blur__circle-1 {
    left: -30%;
  }

  .blur__circle-4 {
    left: -37%;
    width: 71%;
    height: 42%;
  }

  .header__image-1 {
    width: 66%;
    top: -23%;
    right: 0;
    left: unset;
  }

  .header__image-2 {
    width: 125%;
    right: -6%;
    height: 50%;
  }

  .hero__subtitle {
    font-size: 16px;
    line-height: 20px;
  }

  .hero__text {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 36px;
  }

  .hero__warranty {
    margin-bottom: 65px;
  }

  .warranty__icon {
    align-self: start;
    margin-top: 0;

  }

  .warranty__text {
    font-size: 16px;
    line-height: 21px;
  }

  /* ----------------------------------------------------- */

  .reasons__title {
    line-height: 52px;
    margin-bottom: 38px;
  }

  .reasons__item {
    padding: 18px 28px 20px 18px;
  }

  .reasons__item::before {
    left: 19px;
  }

  .reasons__text {
    font-size: 14px;
    line-height: 17px;
  }



  /* ------------------------------------------------------- */

  .ai__title {
    font-size: 9vw;
    line-height: 56px;
    margin-bottom: 38px;
  }

  .ai__item-text {
    font-size: 14px;
  }

  .ai__image {
    width: 500px;
    height: 350px;
    right: 50px;
    bottom: 116px;
  }

  /* ------------------------------------------------------ */

  .important__title {
    font-size: 8.5vw;
    margin-bottom: 30px;
  }

  .important__item-text {
    font-size: 14px;
  }

  /* ----------------------------------------------------- */
  .features__image {
    width: 900px;
    height: 500px;
    right: -225px;
    bottom: 90px;
  }

  .features__title {
    font-size: 9vw;
  }

  .features__list {
    max-width: 500px;
  }

  .features__item-text {
    font-size: 15px;
  }

  .features__button {
    max-width: 380px;
    text-align: center;
  }


  /* ---------------------------------------------------- */

  .modal__window {
    max-width: 300px;
  }

  .modal__title {
    font-size: 23px;
    line-height: 30px;
  }

  .modal__form-label:nth-child(8) {
    margin-bottom: 25px;
  }
}

@media (max-width:550px) {
  .header__logo--none {
    opacity: 0;
  }

  /* ------------------------------------ */

  .ai__image {
    right: 0;
  }

  .ai__button {
    max-width: 400px;
    text-align: center;
  }

  /* ------------------------------------------ */

  .important__title {
    max-width: 68vw;
  }

  .important__list {
    gap: 22px;
  }

  .important__list-item {
    flex-direction: column;
    max-width: 140px;
  }

  .important__item-image::before {
    left: 20px;
    width: 30px;
  }

  /* -------------------------------------------- */

  .features__image {
    width: 700px;
    height: 350px;
    right: -170px;
    bottom: 151px;
  }

  .features__list {
    max-width: 420px;
  }

  .features__list-item:nth-child(3) {
    margin-bottom: 22px;
  }

  .features__item-text {
    font-size: 14px;
  }

  /* ----------------------------------- */

  .footer__feedback {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer__phone {
    order: -1;
  }
}

@media (max-width:400px) {



  .header__image-1 {
    left: 70%;
  }


  .header__image-2 {
    width: 424px;
    height: 284px;
    bottom: 24%;
    right: unset;
    top: unset;
  }

  .header__logo {
    max-width: 195px;
  }


  .header__hero {
    padding: 32px 0 75px;
  }

  .hero__info {
    text-align: left;
  }

  .hero__title {
    font-size: 14.2vw;
    line-height: 62px;
    margin-bottom: 0;
  }

  .hero__text {
    max-width: 300px;
  }

  .warranty__icon {
    width: 49px;
    height: 49px;
  }

  .warranty__icon img {
    width: 28px;
  }

  .warranty__icon::before {
    height: 109%;
  }

  .hero__warranty {
    margin-bottom: 285px;
  }

  .hero__button {
    text-align: center;
  }

  /* -------------------------------------------------- */

  .modal__title {
    font-size: 19px;
    line-height: 25px;
  }

  /* ---------------------------------------------------- */

  .reasons__title {
    line-height: 37px;
  }

  .reasons__icon img {
    width: 100%;
  }

  .reasons__icon {
    width: 38px;
  }


  .reasons__item::after {
    width: 102%;
  }

  /* --------------------------------------------------- */

  .ai__title {
    line-height: 42px;
  }

  .ai__image {
    width: 393px;
    height: 262px;
  }

  .ai__list {
    margin-bottom: 213px;
  }

  .ai__title {
    text-align: left;
  }

  /* ---------------------------------------------------- */

  .important__title {
    line-height: 45px;
    margin-left: 5px;
  }

  /* --------------------------------------------------- */

  .features__image {
    right: -211px;
  }

  .features__title {
    line-height: 40px;
  }

  .features__list {
    max-width: 300px;
  }

  .features__button {
    max-width: 300px;
  }



  /* -------------------------------------------------- */
  .footer__body {
    align-items: start;
    padding: 41px 0 51px;
  }

  .footer__logo {
    max-width: 195px;
  }

  .footer__feedback {
    gap: 0;
    align-items: start;
  }

  .footer__phone {
    margin-bottom: 6px;
  }

  .footer__mail {
    margin-bottom: 33px;
  }

  .socials__text {
    display: none;
  }

  .copyright__text {
    font-size: 3.5vw;
  }

  .footer__afreeca {
    margin: 10px auto 18px 0;
  }

  .footer__afreeca img {
    width: 95px;
  }

  .afreeca__text {
    font-size: 2.5vw;
  }

  .footer__circle {
    display: none;
  }
}